<h2>Editar usuario</h2>
<div class="row">
  <div class="col-md-6">
  <form novalidate name="AddNewForm" id="add-new-form" method="post" action="">
    <input type="hidden" ng-model="usuario.id" value="{{usuario.id}}" />
    <div class="form-group">
      <label for="usuario">Usuario:</label>
      <input class="form-control" type="text" ng-model="usuario.usuario" value="{{usuario.usuario}}" required />
    </div>
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input class="form-control" type="text" ng-model="usuario.nombre" value="{{usuario.nombre}}" required />
    </div>
    <div class="form-group">
      <label for="apellidos">Apellidos:</label>
      <input class="form-control" type="text" ng-model="usuario.apellidos" value="{{usuario.apellidos}}" required />
    </div>
    <div style="float: right;">
      <button class="btn btn-danger" ng-click="borrar(usuario)"><i class="glyphicon glyphicon-trash"></i> Borrar</button>
      <button class="btn btn-success" ng-disabled="AddNewForm.$invalid || isUnchanged(usuario)" id="add-new-btn" ng-click="actualizar(usuario)">
        <i class="glyphicon glyphicon-floppy-disk"></i> Actualizar</button></div>
    <a href="#/" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> Cancelar</a>
    <button class="btn btn-info" ng-click="aleatorio()"><i class="glyphicon glyphicon-random"></i> Aleatorio</button>
  </form>
</div>
</div>
