.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f2f2f2;
}
.ordenar:after {
  content: '\25b2';
}
.ordenar.invertir:after {
  content: '\25bc';
}
#alertas {
  position: fixed;
  top: 2em;
  right: 2em;
  z-index: 1000;
}
